@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-purple;
}

.product-card {
  background: linear-gradient(128.42deg, #ece9f4 -3.93%, #f9f6ff 104.89%);
  border-radius: 20px;
  @apply relative cursor-pointer;
}

.product-card .internal-box {
  background: linear-gradient(
    128.42deg,
    rgba(192, 185, 208, 0.1) -3.93%,
    rgba(241, 236, 255, 0.1) 104.89%
  );

  border-radius: 20px;
  @apply absolute h-full w-full top-0 left-0 opacity-0 backdrop-blur-2xl p-10 flex items-center transition-opacity duration-300;
}

.product-card:hover .internal-box {
  @apply opacity-100 transition-opacity duration-300;
}

#events-slider {
  .swiper-pagination {
    .swiper-pagination-bullet {
      @apply bg-white opacity-50;
    }

    .swiper-pagination-bullet-active {
      @apply opacity-100;
    }
  }
}

#contents-slider,
#testimonials-slider,
#products-slider  {
  .swiper-pagination {
    @apply md:hidden;

    .swiper-pagination-bullet {
      @apply bg-purple opacity-50;
    }

    .swiper-pagination-bullet-active {
      @apply opacity-100;
    }
  }
}

#products-slider {
  .swiper-slide-prev,
  .swiper-slide-next {
    .card {
      background: none;

      .content {
        display: none;
      }
    }
  }
}

.text-title {
  @apply max-md:text-[40px];
}

.text-subtitle {
  @apply max-md:text-[24px];
}

.text-normal-md {
  @apply max-md:text-[20px] max-md:font-normal;
}