@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-purple;
}

.nav-link {
  @apply font-semibold px-2 xl:px-3;
}

.nav-link:hover {
  @apply underline;
}

.nav-link-active {
  @apply font-black underline;
}

.product-card {
  background: linear-gradient(128.42deg, #ece9f4 -3.93%, #f9f6ff 104.89%);
  border-radius: 20px;
  @apply relative cursor-pointer;
}

.product-card .internal-box {
  background: linear-gradient(
    128.42deg,
    rgba(192, 185, 208, 0.1) -3.93%,
    rgba(241, 236, 255, 0.1) 104.89%
  );

  border-radius: 20px;
  @apply absolute h-full w-full top-0 left-0 opacity-0 backdrop-blur-2xl p-10 flex items-center transition-opacity duration-300;
}

.product-card:hover .internal-box {
  @apply opacity-100 transition-opacity duration-300;
}

#events-slider .swiper-pagination .swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.5;
}

#events-slider .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}